#top-border
md-toolbar.main(layout="row" layout-align="center center" ng-controller="NavbarCtrl") 
    md-button(class="toolbar-button md-accent absoluteLeft" ng-click="toggleLeft()")
        i(class="fa fa-bars")
    span Lunch Attack!